<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Blogging App</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="container mt-3">
        <div class="row row-cols-4 ">
        <% blogs.forEach(blogs => {%>
            <div class="col mt-3" style="margin-left: 10px;">
                <div class="card col" style="width: 18rem;">
                <img src="<%= blogs.coverImageURL %>" style="height: 250px;"> class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><%= blogs.title %></h5>
                    <a href="/blog/<%= blogs._id %>" class="btn btn-primary">View</a>
                </div>
                </div>
            </div>
        <% }) %>
        </div>
    </div>
    <%- include('./partials/script') %>
</body>
</html>